apiVersion: apps/v1
kind: Deployment
metadata:
  name: yes25-webapp
  labels: { app: yes25-webapp }
spec:
  replicas: 2
  selector:
    matchLabels: { app: yes25-webapp }
  template:
    metadata:
      labels: { app: yes25-webapp }
    spec:
      containers:
        - name: webapp
          image: 4glapp/webapp:latest
          ports: [{ containerPort: 8080 }]
          readinessProbe:
            httpGet: { path: "/", port: 8080 }
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet: { path: "/", port: 8080 }
            initialDelaySeconds: 15
            periodSeconds: 10
