apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels: { app: webapp }
  template:
    metadata:
      labels: { app: webapp }
    spec:
      # (Docker Hub 비공개면) imagePullSecrets: [{ name: dockerhub-secret }]
      containers:
        - name: webapp
          image: pepperdragonfly/4glapp:CHANGEME   # Jenkins가 set image로 바꿔줌
          imagePullPolicy: Always                  # 항상 레지스트리 확인/당김
          ports: [{ containerPort: 8080 }]

