apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: default
  labels:
    app: webapp
spec:
  selector:
    app: webapp   # Deployment의 app: webapp 과 반드시 일치해야 함
  type: LoadBalancer  # 퍼블릭으로 열림 (AWS/NCP/GCP 등)
  ports:
    - port: 80          # 외부 접근 포트 (HTTP 기본)
      targetPort: 8080  # Pod 내부 컨테이너 포트 (Tomcat)
